{{ "{{- range $name, $svc := .Values.services }}" }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ "{{ include \"chart.fullname\" $ }}" }}-{{ "{{ $name }}" }}
  labels:
    {{- "{{ include \"chart.labels\" $ | nindent 4 }}" }}
    app.kubernetes.io/component: {{ "{{ $name }}" }}
spec:
  replicas: {{ "{{ $svc.replicas }}" }}
  selector:
    matchLabels:
      {{- "{{ include \"chart.selectorLabels\" $ | nindent 6 }}" }}
      app.kubernetes.io/component: {{ "{{ $name }}" }}
  template:
    metadata:
      annotations:
        vela/updatedAt: {{ "{{ now | date \"2006-01-02T15:04:05\" }}" }}
      labels:
        {{- "{{ include \"chart.selectorLabels\" $ | nindent 8 }}" }}
        app.kubernetes.io/component: {{ "{{ $name }}" }}
    spec:
      containers:
        - name: {{ "{{ $name }}" }}
          image: {{ "{{ $svc.image }}" }}
          imagePullPolicy: Always
          ports:
            - containerPort: {{ "{{ $svc.port }}" }}
          resources:
            {{- "{{ toYaml $svc.resources | nindent 12 }}" }}
          env:
            - name: HOSTNAME
              value: "0.0.0.0"
          {{- "{{ if $svc.env }}" }}
            {{- "{{ toYaml $svc.env | nindent 12 }}" }}
          {{- "{{ end }}" }}
          {{ "{{- if $svc.envFrom }}" }}
          envFrom:
            {{- "{{ toYaml $svc.envFrom | nindent 12 }}" }}
          {{ "{{- end }}" }}
{{ "{{- end }}" }}
