{{ "{{- range $name, $svc := .Values.services }}" }}
{{ "{{- if and $svc.ingress $svc.ingress.enabled }}" }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ "{{ include \"chart.fullname\" $ }}" }}-{{ "{{ $name }}" }}
  labels:
    {{- "{{ include \"chart.labels\" $ | nindent 4 }}" }}
    app.kubernetes.io/component: {{ "{{ $name }}" }}
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: {{ "{{ $.Release.Namespace }}" }}-{{ "{{ include \"chart.fullname\" $ }}" }}-{{ "{{ $name }}" }}-strip@kubernetescrd
spec:
  rules:
    - host: {{ "{{ $svc.ingress.host }}" }}
      http:
        paths:
          - path: {{ "{{ $svc.ingress.path }}" }}
            pathType: Prefix
            backend:
              service:
                name: {{ "{{ include \"chart.fullname\" $ }}" }}-{{ "{{ $name }}" }}
                port:
                  number: {{ "{{ $svc.port }}" }}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ "{{ include \"chart.fullname\" $ }}" }}-{{ "{{ $name }}" }}-strip
spec:
  stripPrefix:
    prefixes:
      - {{ "{{ $svc.ingress.path }}" }}
{{ "{{- end }}" }}
{{ "{{- end }}" }}
