services:
{{- range .Services }}
  {{ .Name }}:
    image: {{ .Image }}
    port: {{ .Port }}
    replicas: {{ .Replicas }}
    resources:
      limits:
        cpu: {{ .Resources.CPU }}
        memory: {{ .Resources.Memory }}
      requests:
        cpu: {{ .Resources.CPU }}
        memory: {{ .Resources.Memory }}
    {{- if .Env }}
    env:
    {{- range .Env }}
      - name: {{ .Name }}
        value: "{{ .Value }}"
    {{- end }}
    {{- end }}
    {{- if .Ingress }}
    ingress:
      enabled: {{ .Ingress.Enabled }}
      host: {{ .Ingress.Host }}
      path: {{ .Ingress.Path }}
      stripPrefix: {{ .Ingress.StripPrefixEnabled }}
    {{- end }}
{{- end }}
{{- if .Database }}
database:
  enabled: {{ .Database.Enabled }}
  type: {{ .Database.Type }}
  image: {{ .Database.Image }}
  database: {{ .Database.Database }}
  password: {{ .Database.Password }}
  storage: {{ .Database.Storage }}
{{- end }}
{{ range $key, $vals := .DependencyValues }}
{{ $key }}:
{{ $vals }}
{{- end }}
