services:
{{- range .Services }}
  {{ .Name }}:
    image: {{ .Image }}
    port: {{ .Port }}
    replicas: {{ .Replicas }}
    resources:
      limits:
        cpu: {{ .Resources.CPU }}
        memory: {{ .Resources.Memory }}
      requests:
        cpu: {{ .Resources.CPU }}
        memory: {{ .Resources.Memory }}
    {{- if .Env }}
    env:
    {{- range .Env }}
      - name: {{ .Name }}
        value: "{{ .Value }}"
    {{- end }}
    {{- end }}
    {{- if .Ingress }}
    ingress:
      enabled: {{ .Ingress.Enabled }}
      host: {{ .Ingress.Host }}
      path: {{ .Ingress.Path }}
    {{- end }}
{{- end }}
{{ range $key, $vals := .DependencyValues }}
{{ $key }}:
{{ $vals }}
{{- end }}
